<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <!-- 先将jquery库引入到当前页面 -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- 视口 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"> -->
    <link rel="stylesheet" type="text/css" href="css/super.css">
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <script src="js/TouchSlide.1.1.js"></script>
    <script src="js/vue.2.6.11.js"></script>

    <script>
        var width=window.innerWidth;
        //6.4是根据设计图的大小除以100，需要按照你的实际设计图换算
        var bili=width/7.5;
        document.documentElement.style.fontSize=bili+"px";

        // 此时  100px=1rem
        // 将所有在设计图量出的尺寸都除以100即可转为对应的rem
    </script>

    <style type="text/css">

    </style>
</head>
<body>
    <div id="app">
        <!-- banner -->
        <ban :info="list"></ban>
        <!-- 热门超英 -->
        <div class="tit">
            <img src="images/ia_100000053.png">
            <h3>热门超英</h3>
        </div>
        <hot :wow="er"></hot>
        <!-- 超英预告 -->
        <div class="tit">
            <img src="images/ia_100000053.png">
            <h3>超英预告</h3>
        </div>
        <yugao :yg="san"></yugao>
        <!-- 猜你喜欢 -->
        <div class="tit">
            <img src="images/ia_100000053.png">
            <h3>猜你喜欢</h3>
        </div>
        <like :huan="si"></like>
        <!-- 底部导航栏 -->
        <div class="bo">
            <div>
                <img src="images/ia_100000044.png" style="width: 0.5rem;">
                <p>首页</p>
            </div>
            <div>
                <img src="images/ia_100000045.png" style="width: 0.5rem;">
                <p>搜索</p>
            </div>
            <div>
                <img src="images/ia_100000046.png" style="width: 0.5rem;">
                <p>我的</p>
            </div>
        </div>
    </div>

    <script>
        Vue.component("ban",{
            data(){
                return{


                }
            },
            props:['info'],
            template:`
                <div id="slideBox" class="slideBox">
                    <div class="bd">
                        <ul>
                            <li v-for="item in info">
                            <a class="pic" href="#"><img :src="item.image" /></a>
                            </li>
                        </ul>
                    </div>

                    <div class="hd">
                        <ul>
                        </ul>
                    </div>
                </div>
            `            
        });

        Vue.component("hot",{
            data(){
                return{


                }
            },
            props:['wow'],
            template:`
                <div class="hero">
                    <div v-for="item in wow"><img :src="item.cover" style="width:2rem;height:2.8rem;">
                                            <h4 class="cutFont" style="width:2rem;">{{item.name}}</h4><div>
                                             <span>*</span>
                                            <span>8.9</span>
                                             </div></div>
                </div>            `            
        });

        Vue.component("yugao",{
            data(){
                return{


                }
            },
            props:['yg'],
            template:`
                <div class="vm">
                    <video v-for="item in yg" :poster="item.poster" controls style="width:3.4rem; height:2rem;">
                            <source :src="item.trailer">
                    </video>
                </div>
           `            
        });
        Vue.component("like",{
            data(){
                return{


                }
            },
            props:['huan'],
            template:`
                <div class="bb">
                    <div class="box" v-for="item in huan">
                    <div><img :src="item.cover" style="width:2rem;"></div>
                    <div class="p1" style="width:3rem;">
                        <p>{{item.name}}</p>
                        <p>{{item.basicInfo}}</p>
                        <p>{{item.createTime}}</p>
                    </div>
                    <div class="p2">
                        <img src="images/ia_100000094.png" style="width: 0.8rem;">
                        <p>赞一下</p>
                    </div>
                </div>
                </div>
           `            
        });

        var vm=new Vue({
            el:"#app",
            data:{
                list:{},
                er:{},
                san:{},
                si:{}
            },
            methods:{
                
            },
            computed:{
                
            },
            watch:{

            },
            // 声明周期函数，在创建实例时会自动执行
            created(){
                var that=this;
                // 在这里嵌入ajax代码，通过ajax将数据读取出来，并且放到data中即可
                console.log(1);
                //如果使用js的ajax，则可以不导入jquery
                $.ajax({
                    type:"post",
                    url:"https://www.imovietrailer.com/superhero/index/carousel/list?qq=947876",
                    success:function(res){
                        console.log(res.data)
                        // console.log(this)
                        // 找到vue的data的list，并且将数据赋值给给它
                        that.list=res.data;
                        // $.each(res.data,function(i,item){

                        //     console.log(item.image);
                        // });
                        
                    }
                });
                // 第二块
                $.ajax({
                    type:"post",
                    url:"https://www.imovietrailer.com/superhero/index/movie/hot?type=superhero&&qq=947876",
                    success:function(res){
                        console.log(res.data)
                        // console.log(this)
                        // 找到vue的data的list，并且将数据赋值给给它
                        that.er=res.data;
                        // $.each(res.data,function(i,item){

                        //     console.log(item.image);
                        // });
                        
                    }
                });

                // 第三块
                $.ajax({
                    type:"post",
                    url:"https://www.imovietrailer.com/superhero/index/movie/hot?type=trailer&&qq=947876",
                    success:function(res){
                        console.log(res.data)
                        // console.log(this)
                        // 找到vue的data的list，并且将数据赋值给给它
                        that.san=res.data;
                        // $.each(res.data,function(i,item){

                        //     console.log(item.image);
                        // });
                        
                    }
                });
                // 第四块
                $.ajax({
                    type:"post",
                    url:"https://www.imovietrailer.com/superhero/index/guessULike?qq=947876",
                    success:function(res){
                        console.log(res.data)
                        // console.log(this)
                        // 找到vue的data的list，并且将数据赋值给给它
                        that.si=res.data;
                        // $.each(res.data,function(i,item){

                        //     console.log(item.image);
                        // });
                        
                    }
                });

            },
            updated(){
                TouchSlide({ 
            slideCell:"#slideBox",
            titCell:".hd ul", //开启自动分页 autoPage:true ，此时设置 titCell 为导航元素包裹层
            mainCell:".bd ul", 
            effect:"leftLoop", 
            autoPage:true,//自动分页
            autoPlay:true //自动播放
        });
            }
        });


        
    </script>
</body>
</html>